<div class="bg-dark p-2 mb-0 position-absolute bottom-0 w-100">
  <h5 class="text-center text-light">
    تم التنفيذ بواسطة فرع نظم المعلومات جهاز الاستطلاع في عهد السيد اللواء أح/
    ياسر فتحي سليم © 2023
  </h5>
</div>
