<%- include('./partials/navbar',user)%>
<div class="container w-50 text-center mt-5">
    <img src="/public/images/logo.png" alt="" width="250" />
    <h1 class="mb-3">منظومة مخازن التعيينات</h1>
    <h4 style="font-weight: normal;">تهدف المنظومة إلى التعامل مع مخازن التعيين الجاف و الطازج و حساب الأصناف المضافة و الخارجة و المصروفة و عمل تقرير مفصل عن كل صرفية.</h4>
</div>

<footer>
    <%- include('./partials/footer')%>
</footer>

</html>