<%- include('./partials/navbar',user)%>
<div class="container w-100 text-center mt-5">
    <%if (user.role !== 'leader') {%>
            <!-- <div class="mt-5 mb-3">
            <form action="/search" method="get">
                <div class="input-group">
                    <input type="hidden" value="<%#parseInt(page||1)%>" name="page">
                    <input type="search" class="form-control rounded" placeholder="بحث عن صنف" aria-label="بحث"
                        aria-describedby="search-addon" name="q" required/>
                    <button type="submit" class="btn btn-primary mx-1 rounded"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div> -->
        <%}%>
    <img class="mt-2 g-5" src="/public/images/logo.png" alt="" width="400" />
    <br>
    <h1>منظومة مخازن التعيينات</h1>
        <h4 style="font-weight: normal;">تم إنشاء المنظومة في عهد </h4> <h2><b> السيد اللواء أح/ ياسر فتحي سليم</b></h2> <h4 style="font-weight: normal;">رئيس جهاز الاستطلاع</h4> <h4 style="font-weight: normal;"> بواسطة فرع نظم المعلومات جهاز الاستطلاع </h4> <h4>عام 2023</h4>
</div>
</html>
