<%- include('../partials/navbar',user)%>
    <form class="mt-5 d-flex justify-content-center" action="/meals/check" method="post">
        <div class="w-50">
            <div class="p-5 m-5 card">
                <h3 class="mb-5 text-center">صرف وجبة</h3>
                <div class="form-group form-floating mb-3">
                    <input type="date" id="date" class="form-control"  name="date" placeholder="تاريخ الصرف" required>
                    <label for="date">تاريخ الصرف</label>
                </div>

                <div class="row">
                    <div class="form-group form-floating col-sm mb-3">
                        <select class="form-select" name="meal" id="meal" required>
                            <option value="" hidden>الوجبة</option>
                                <option value="الفطار">الفطار</option>
                                <option value="الغداء">الغداء</option>
                                <option value="العشاء">العشاء</option>
                        </select>
                        <label for="meal">الوجبة</label>
                    </div>
                    <div class="form-group form-floating col-sm mb-3">
                        <input type="number" id="power" class="form-control"  name="power" placeholder="القوة" required>
                        <label for="power">القوة</label>
                    </div>      
                    <div class="form-group form-floating col-sm mb-3">
                        <input type="number" id="plus" class="form-control"  name="plus" placeholder="الزيادة" disabled>
                        <label for="plus">الزيادة</label>
                    </div>       
                    <input type="text" id="total" hidden>
                </div>


                <ul style="list-style-type: none;" class="m-0 p-0" id="fieldList">
                        <!-- <li class="row">
                            <div class="form-group form-floating mb-3 col-sm">
                                <select class="form-select" name="categoryItems[0][name]" id="name0" required>
                                    <option value="" hidden>اسم الصنف</option>
                                    <%# for(let category of categories) {%>
                                        <option value="<%#=JSON.stringify(category)%>"><%#=category.name%></option>
                                        <%#}%>
                                </select>
                                <label for="name0">اسم الصنف</label>
                            </div>

                            <div class="form-group form-floating mb-3 col-sm">
                                <input type="number" min="0.25" step="0.25" id="amount0" class="form-control"  name="categoryItems[0][amount]" placeholder="الكمية بالكيلو" readonly>
                                <label for="amount0">الكميةالموجودة</label>
                            </div>
                            <!-- <div class="form-group form-floating mb-3 col-sm">
                                <input type="unit" id="unit" class="form-control"  name="unit" placeholder="الوحدة" readonly>
                                <label for="amount">الوحدة</label>
                            </div> -->

                            
                            <!-- <div class="form-group form-floating mb-3 col-sm">
                                <input type="number" min="0.25" step="0.25" id="amountChecked0" class="form-control"  name="categoryItems[0][amountChecked]" placeholder="الكمية المصروفة بالكيلو" required>
                                <label for="amountChecked0">الكمية المصروفة</label>
                            </div>
                        </li> -->
                </ul>

                <input type="text" class="form-control"  id="categoriesField" hidden value="<%=JSON.stringify(categories)%>">
                

                
                <!-- <div class="form-group form-floating mb-3">
                    <input type="file" class="form-control" name="image" id="image" placeholder="image"
                        >
                    <label for="image">صورة للجهاز</label>
                </div> -->
                <div class="row">
                    <div class="d-flex mb-2">
                        <button type="button" id="addBtn" class="btn btn-outline-success"><i class="bi bi-plus"></i>
                        </button>
                        <button type="button" id="subBtn" class="btn btn-outline-danger mx-2"><i class="bi bi-dash"></i></button>
                    </div>
                </div>               
                <!-- <div class="form-group form-floating mb-3">
                    <input type="file" class="form-control" name="image" id="image" placeholder="image"
                        >
                    <label for="image">صورة للجهاز</label>
                </div> -->
                <button id="submitBtn" type="submit" class="btn btn-primary">صرف</button>
            </div>
        </div>
    </form>
    </body>
<script src="../../public/js/powerPlus.js" defer></script>

<script src="../../public/js/jquery.js"></script>
<!-- <script src="/javascripts/jquery-3.3.1.min"></script>
<script src="/javascripts/jquery-1.12.4.min"></script> -->
<script src="../../public/js/check.js"></script>

    <!-- <script>
        $('#name').on('change',(e) => {
            const amount = JSON.parse($('#name').val()).amount
            const unit = JSON.parse($('#name').val()).unit
            const amountChecked = $('#amountChecked').val()
            $('#amount').val(amount)
            $('#unit').val(unit)
            $('#amountChecked').attr('max', amount);
            if (amountChecked && amountChecked > amount) {
                $('#amountChecked').val(amount)
            }
        })

        // function select(){
        //     console.log($('#name').val());
        //     // const category = document.getElementById('name')
        //     // const amount = document.getElementById('amount')
        //     //             console.log(JSON.parse(category.value));
        //     // amount.value = category.value
        // }
    </script> -->

    </html>